/* 
 * Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
}

/* ================== */
/* Custom Properties  */
/* ================== */
html {
  /* colors */
  --clr-bg-gray: hsl(0deg 0% 92%);

  /* animations */
  --bump: cubic-bezier(0, 0.6, 0.32, 1.06);
}

/* ============== */
/* Global Styles  */
/* ============== */
body {
  font-family: sans-serif;
  background-color: var(--clr-bg-gray);
}

#scroll-wrapper {
  /* These two below are NECESSARY for scroll-snapping */
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}
